<!--    Team Webelistics®  Internet Application Development    -->
<!--     Gordon R. Mullen Jr  'Date: 2023/08/19'     -->


<!DOCTYPE html>
<html lang="en" class="theme-dark">

  <head id="head">    
    <meta charset="UTF-8" />
    {{> meta_head}}
    {{> seo_head}} 

    {{> common_head}}

    {{{script}}}

    <title>{{{title}}}</title> 

  </head>
  
  <body id="chatboxMainBody" class="chatbox-main-body">
    
      {{{body}}}

  </body>


</html>