<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/src/css/index.css" alt="CSS Script" />
    <link rel="shortcut icon" href="/src/images/favicon.ico" type="image/x-icon" />

    <title>Gordon's || 'Share a Blog' Site</title>
</head>

<body class="body-dash">

    {{> _add_btn}}
    {{> _header}}

    <div id="container" class="container">
            {{{body}}}
    </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.19.0/ckeditor.js" integrity="sha512-tjxUra6WjSA8H5+nC7G61SVqEXj1e958LdR4N8BGZeRx9tObm/YhsrUzY6tH4EuHQyZqOyu317pgV7f8YPFoAQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script>
            M.Sidenav.init(document.querySelector('.sidenav'));
            M.FormSelect.init(document.querySelector('#status'));
        </script>
</body>
    
</html>

            {{!-- CKEDITOR.replace('container', {
                plugins: 'wysiwygarea, toolbar, basicstyles, link',
                element: 'body',
                allowedContent: {
                    'div': {
                        content: {} || ''
                    }
                }
            }); --}}