<!DOCTYPE html>
<html lang="en">
<head id="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{> _seo_head}}
    <link rel="stylesheet" href="./dist/src/css/index.css" />
    <link rel="shortcut icon" href="./dist/src/images/favicon.ico" type="image/x-icon">
    <script id="indexScript" type="module" src="./dist/src/js/index.js" content="text/javascript"></script>

    <title>Gordon's Profile Page</title>
</head>
<body>  

    <div class="container">
        {{{body}}}
    </div>
  

</body>
</html>