<!--    Team Webelistics® LLC  Internet Application Development    -->
<!--     Gordon R. Mullen Jr  'Date: 2022/01/20'     -->


<!DOCTYPE html>
<html lang="en" class="theme-dark">

  <head id="head">    
    <meta charset="UTF-8" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <meta
			name="Description"
			content="HOOT Webelistics, Web Application Development"
			alt="We can build your applications with maximum accessibility to fit you precise needs!"
    />
    {{> seo_head}} 
         
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;0,700;0,900;1,200;1,400&effect=neon|outline|emboss|shadow-multiple|fire"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&effect=fire-animation" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/css2?family=Chango&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/src/images/svgs/team_webelistics_brackets.svg" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" href="/src/css/index.css" alt="CSS Script" />
    
    <script type="module" src="/src/ts/index.js" content="text/javascript"></script>
    {{{script}}}

    {{#if_cond title '===' 'SpaceX-Profile'}}
      <script type="module" content="text/javascript" src="src/components/timeObject/time-object_shell.js"></script>
    {{/if_cond}}

    <title>{{{title}}}</title>    
  </head>
  
  <body id="mainBody" class="body main-body">
    
      {{{body}}}

  </body>


</html>