<!--    Team Webelistics®  Internet Application Development    -->
<!--     Gordon R. Mullen Jr  'Date: 2023/08/25'     -->


<!DOCTYPE html>
<html lang="en" class="theme-dark">

  <head id="head">    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
 
    <link rel="shortcut icon" href="/src/images/svgs/team_webelistics_brackets.svg" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" href="/src/css/index.css" alt="CSS Script" />
    
    <script type="module" src="/src/ts/index.js" content="text/javascript"></script>

    {{{script}}}

    <title>{{{title}}}</title> 

  </head>
  
  <body id="openaiMainBody" class="openai-main-body">
    
      {{{body}}}

  </body>


</html>