<h3 class="login-h3">
    <i class="material-icons large blog-icon">insert_comment</i>
    <br>
    Gordon's Portfolio
    <br>
    <p id="loginName" class="LOGIN">LOGIN</p>
</h3>
<div class="section">
    <p class="share-knowledge">Share your Knowledge of Software Engineering!</p>
    <p class="write-blog">Write a Blog!</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>
        Log in with Google
    </a>
</div>                                                  