

    <figure class="logo-figure">
        <img class="tw-logo" src="/src/controller/login/team_webelistics_brackets.svg" alt="">
        <figcaption class="font-effect-fire-animation tw-caption">
            <div class="navbar-div">
                <h1 id="h1Team" class="h1-team">Team</h1>
            </div>
            <div class="navbar-div">            
                <h2 id="h2Webelistics" class="h2-webelistics">Webelistics<sup class="sup-reg">&#174;</sup></h2>
            </div>          
        </figcaption>
    </figure>

    <form action="/login_modal/{{_id}}" id="form" class="form-local" method="POST">

        <aside id="loginModal-date" class="login-modal-date">
            <span id="loginModal-span" class="login-modal-span">
                {{formatDate createdAt 'MMMM Do YYYY, h:mm:ss: a' }}
            </span>
        </aside>

        <ul>
             <li>
                <label for="firstName">First Name</label>
                <input class="input-login" type="text" id="firstName" name="firstName" autocomplete="given-name">
            </li>
            <li>
                <label for="lastName">Last Name</label>
                <input class="input-login" type="text" id="lastName" name="lastName" autocomplete="family-name">
            </li>
            <li>
                <label for="mail" placeholder="Email">Email</label>
                <input class="input-login" type="email" id="mail" name="email" autocomplete="off">
            </li>
            <li>
                <label for="password">Password</label>
                <input class="input-login" type="password" id="password" name="password">
            </li>
        </ul>

        <footer class="modal-footer">
            <button id="close-modal" class="local-buttons">Close</button>
            <input id="login-modal-submit" type="submit" value="Submit" class="local-buttons local-save">
        </footer>
    </form>

