<article id="articleChatgpt" class="article-chatgpt">
    <h2 id="articleH2" class="article-h2">
        OpenAI ChatGPT-3-5-turbo-0613, {{{title}}}
    </h2>
    {{!-- <label for="body">How can I help you today?</label> --}}
    <textarea name="body" id="body" class="chat-terminal" cols="90" rows="30"
        placeholder="Type your inquiry here...">{{{body}}}</textarea>
</article>

<style>

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: var(--chatbox-background-main);
        overflow: hidden;
    }

    .article-chatgpt {
		margin: 0em auto 0em auto;
		position: absolute;	
        top: 0;
        left: 0;
		display: flex;	
        flex-direction: column;
		text-align: center;
		overflow: hidden;
		background-color: var(--chatbox-background-main);
	}

	.article-chatgpt .article-h2 {
		margin: 2em auto 1em auto;
        position: relative;
        display: flex;
		text-align: center;
		font-family: 'Chango', cursive;
		font-size: 0.85rem;
		font-weight: 200;
		color: var(--chatbox-color-lightgrey);
		letter-spacing: 0.1em;
		text-shadow: 0.07em 0.07em 0.05em hsla(0, 0%, 0%, 0.5);		
	}

	.chat-terminal {
		margin: 0.5em 0.1em 0em 1em;
        position: relative;
        display: flex;
		width: 70%;
		height: 10%;
		text-align: start;
		overflow: hidden;
		background-color: var(--chatbox-background-main);
		border: var(--chatbox-border-standard);
		border-radius: 0.5em;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 0.75rem;
		font-weight: 200;
		color: var(--chatbox-color-lightgrey);
	}
</style>