:root {
    --tw-blue: hsla(213, 58%, 44%, 0.99);
    --tw-lightblue: hsla(197, 100%, 45%, 0.99);
    --modal_ff: var(--grmj-font-family-1);
    --tw-yellow: hsla(32, 80%, 52%, 0.99);
    --tw-yellow-light: hsla(37, 67%, 76%, 0.99);
    --tw-black: hsla(0, 0%, 0%, 0.99);
    --tw-white: hsla(0, 0%, 100%, 0.99);
    --tw-drop-shadow-1: var(--grmj-filter-dropShadow-6);
    --tw-drop-shadow-2: var(--grmj-filter-dropShadow-9);
}

.signin-modal {
    margin: 2.5em auto 1.5em auto;
    position: relative;
    display: block;
    text-align: center;
}

.signin-modal-header {
    margin: 2.5em auto 1.5em auto;
    display: block;
    text-align: center;
}


.signin-modal .tw-logo {
    margin: 2.5em auto 0em auto;
    display: block;
    text-align: center;
    width: 180px;
    aspect-ratio: 130 / 103;
    filter: var(--tw-drop-shadow-2);
}

.signin-modal .tw-caption {
    margin: 0em auto 0em auto;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    text-align: center;
    filter: var(--tw-drop-shadow-2);
}

.tw-caption .h1-team {
    margin: 0em auto 0em auto;
    display: block;
    order: 1;
    font-family: var(--grmj-font-family-1);
    font-size: 2rem;
    font-weight: var(--grmj-font-weight-7);
    color: var(--color-bracket-blue);
    text-align: center;
}

.tw-caption .h2-webelistics {
    display: block;
    order: 2;
    font-family: var(--grmj-font-family-1);
    font-size: 2.5rem;
    font-weight: var(--grmj-font-weight-9);
    color: var(--color-bracket-yellow);
    letter-spacing: -0.7;
    text-align: center;
}

.sup-reg {
    font-family: var(--grmj-font-family-3);
    font-size: 25%;
    font-weight: 6;
    color: var(--color-bracket-blue);
    line-height: 0;
    vertical-align: baseline;
    top: -1.5em;
}

.signin-modal .form {
    position: relative;
    display: block;
    text-align: center;
}

.signin-modal label {
    margin: 3.75em auto 0.75em auto;
    font-family: var(--modal_ff);
    font-size: 1rem;
    color: var(--tw-black);
}

.signin-modal .signin-modal-date {
    margin: 0.2em auto 2.5em auto;
    font-family: var(--modal_ff);
    font-size: 1rem;
    font-weight: 500;
    color: var(--tw-blue);
    filter: var(--tw-drop-shadow-1);
}

.signin-modal .input-signin {
    margin: 0em auto 3em auto;
    padding: 25px;
    display: block;
    font-size: 2.8em;
    font-family: var(--modal_ff);
    color: var(--tw-blue);
    border: solid 1.75px var(--tw-blue);
    width: 175px;
    text-align: center;
    background-color: rgba(107, 107, 107, 0.2)
}

.signin-modal .local-buttons {
    margin: 0em 2.5em 0em 1em;
    padding: 10px;
    font-family: var(--modal_ff);
    font-size: 1.1em;
    width: 7em;
    background: var(--tw-blue);
    color: var(--tw-white);
    border: none;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    filter: var(--dropdown-shadow);
}

.signin-modal button:hover {
    background: var(--tw-lightblue);
    color: var(---tw-black);
    font-weight: 700;
}

.signin-modal .local-save:hover {
    background: var(--tw-yellow);
    color: var(---tw-black);
    font-weight: 700;
}

.signin-modal button:active {
    background: #e5e5e5;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}

.signin-modal .local-save:active {
    background: #e5e5e5;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}

.signin-modal .signin-modal-footer {
    margin: 2.5em auto 2.5em auto;
    text-align: center;
}

.signin-modal .form-local {
    margin: 0.2em auto 0.2em auto;
    display: inline-block;
    width: 380px;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.form-local .input-signin {
    margin: 0.2em auto 0.2em auto;
    position: relative;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    text-align: center;

}

.form-local .input-signin:not([type="submit"]) {
    display: block;
    width: 100%;
    padding: 7px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 0.4s;
    color: #222;
    font-size: 18px;
    font-weight: 300;
    text-align: center;

}

.form-local .input-signin:not([type="submit"])::placeholder {
    color: #ccc;
}

.form-local .input-signin:not([type="submit"]):focus,
.form-local .input-signin:not([type="submit"]):valid {
    background-color: #fff;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

f.form-local .input-signin[type="submit"] {
    display: block;
    width: 100%;
    padding: 7px;
    border-radius: 8px;
    background-color: #2F4960;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 0.4s;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;

}