/*gm  :::::::::::::::::::::::::  HooT™️ Webelistics®️ CodeOperate™️ Software Development, LLC  :::::::::::::::::::::::::  */

/* Global CSS main index file */

/* did it copy this file? */

/* @import url('/src/Global/global_fonts.css'):root { */
/* @import url(' http://127.0.0.1:9080/src/Global/global_fonts.css/css2?family=Rubik+Dirt&family=Rubik+Moonrocks&display=swap'); */

/* @import url('/src/Global/global_fonts.css'); */

:root {


    /* Backgrounds */
    --grmj-profile-background: -webkit-linear-gradient(180deg, hsla(0, 0%, 75%, 0.5), hsla(0, 0%, 20%, 0.79) 25.71%),
        -webkit-linear-gradient(359deg, hsla(0, 0%, 75%, 0.2), hsla(197, 98%, 17%, 0.49) 20.71%),
        -webkit-linear-gradient(000deg, hsla(197, 45%, 63%, 0.59), hsla(197, 45%, 63%, 0.69) 10.71%);
    --profile-background_hover: hsla(0, 0%, 27%, 0.99);
    --button-background-hover: gold;
    --grmj-profile-background_1: hsla(0, 0%, 80%, 0.99);
    --grmj-profile-background_2: hsla(0, 0%, 27%, 0.99);
    --grmj-profile-background_2a: hsla(0, 0%, 27%, 0.49);
    --grmj-profile-background_3: hsla(0, 1%, 56%, 0.99);
    --grmj-profile-background_4: hsla(198, 53%, 87%, 0.99);
    --grmj-profile-background_5: hsla(198, 53%, 87%, 0.19);
    --grmj-profile-background_6: hsla(0, 0%, 75%, 0.15);
    --grmj-profile-background_7: hsla(0, 0%, 80%, 0.66);
    --grmj-profile-background_8: hsla(212, 62%, 49%, 0.14);
    --grmj-profile-background_9: hsla(209, 59%, 48%, 0.99);
    --grmj-profile-background_10: hsla(195, 53%, 79%, 0.59);
    --grmj-profile-background_11: hsla(209, 59%, 48%, 0.29);
    --grmj-profile-background_12: hsla(0, 0%, 66%, 0.99);
    --grmj-profile-background_12a: hsla(0, 0%, 66%, 0.69);
    --grmj-profile-background_13: hsla(197, 71%, 73%, 0.70);
    --profile-background_14: hsla(0, 0%, 66%, 0.69);


    /* Background Image */
    --grmj-profile-background_image_00: url('../../src/components/componentTools/resources/images/005___profile__BACKGROUND.webp');
    --grmj-profile-background_image_000: url('../../src/components/componentTools/resources/images/000___home-theme-dark__BACKGROUND.webp');
    --grmj-profile-background_image_01: url('../../src/components/componentTools/resources/images/005___home-theme-light__BACKGROUND.webp');
    --grmj-profile-background_image_01g: url('../../src/components/componentTools/resources/images/006___cover-light__BACKGROUND.webp');
    --grmj-profile-background_image_1: url('../../src/components/componentTools/resources/images/000_projects_page-main.webp');
    --grmj-profile-background_image_1a: url('../../src/components/componentTools/resources/images/000a_projects_page-main.webp');
    --grmj-profile-background_image_2: url('../../src/components/componentTools/resources/images/000_brown_slider-main.webp');
    --grmj-profile-background_image_3: url('../../src/components/componentTools/resources/images/003_background.webp');
    --grmj-profile-background_image_4: url('../../src/components/componentTools/resources/images/gordonPhoto.webp');
    --grmj-profile-background_image_5: url('../../src/components/componentTools/resources/images/001_history.webp');
    --grmj-profile-background_image_6: url('../../src/components/componentTools/resources/images/rustic-circles.webp');

    /*Font Family*/
    --grmj-font-family-0: 'Chango';
    --grmj-font-family-1: 'Source Sans Pro', sans-serif;
    --grmj-font-family-2: 'Impact, Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    --grmj-font-family-3: 'Arial, Helvetica, sans-serif';
    --grmj-font-family-4: 'Black Ops One';
    --grmj-font-family-5: 'Rubik Dirt';
    --grmj-font-family-6: 'CabinSketch';
    --grmj-font-family-7: 'Rubik Moonrocks';
    --grmj-font-family-8: 'Bruno Ace SC';
    --grmj-font-family-9: 'Freckle Face';
    --grmj-font-family-10: 'Finger Paint';
    --grmj-font-family-11: 'Road Rage';
    --grmj-font-family-12: 'Rubik Moonrocks';

    /*Font Weight*/
    --grmj-font-weight-1: 100;
    --grmj-font-weight-2: 200;
    --grmj-font-weight-3: 300;
    --grmj-font-weight-4: 400;
    --grmj-font-weight-5: 500;
    --grmj-font-weight-6: 600;
    --grmj-font-weight-7: 700;
    --grmj-font-weight-8: 800;
    --grmj-font-weight-9: 900;

    /*text styles*/
    --grmj-italic: italic;

    /*text shadows*/
    --grmj-text-shadow-0: 3px 2px 3px hsla(0, 0%, 0%, 0.59);
    --grmj-text-shadow-1: 5px 3px 5px hsla(0, 0%, 0%, 0.99);
    --grmj-text-shadow-1z: 5px 3px 5px hsla(0, 0%, 0%, 0.49);
    --grmj-text-shadow-1x: 4px 2px 4px hsla(0, 0%, 0%, 0.99);
    --grmj-text-shadow-2: 7px 5px 9px hsla(0, 0%, 0%, 0.69);
    --grmj-text-shadow-3: 2px 1px 1px hsla(0, 0%, 0%, 0.25);
    --grmj-text-shadow-4: 3px 2px 3px hsla(0, 0%, 0%, 0.6);
    --grmj-text-shadow-5: 2px 1px 2px hsla(0, 0%, 0%, 0.4);
    --grmj-text-shadow-6: 0.1rem 0.1rem 0.5rem hsla(0, 0%, 0%, 0.29);

    /*Box Shadows*/
    --grmj-box-shadow-0: 5px 4px 7px hsla(0, 0%, 0%, 0.79);
    --grmj-box-shadow-1: 2px 2px 20px 4px rgba(0, 0, 0, 0.5);
    --grmj-profile-box-shadow-1: 5px 3px 5px hsla(0, 0%, 0%, 0.99);
    --grmj-profile-box-shadow-2: 7px 5px 9px hsla(0, 0%, 0%, 0.69);

    /*Filter: drop-shadow*/
    --landing-dropShadow-00: drop-Shadow(0.15rem 0.13rem 0.93rem rgba(0, 0, 0, 0.22));
    --landing-dropShadow-01: drop-Shadow(0.75rem 0.73rem 1.33rem rgba(247, 246, 246, 0.61));
    --grmj-filter-dropShadow-0: drop-shadow(6px 5px 7px hsla(0, 0%, 0%, 0.72));
    --grmj-filter-dropShadow-1: drop-shadow(3px 2px 2px hsla(0, 0%, 0%, 0.6));
    --grmj-filter-dropShadow-2: drop-shadow(6px 4px 4px hsla(0, 0%, 0%, 0.6));
    --grmj-filter-dropShadow-3: drop-Shadow(0px 0.2rem 0.65rem hsla(198, 53%, 87%, 0.89));
    --grmj-filter-dropShadow-4: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.99));
    --filter-dropShadow-4a: drop-shadow(0 0.03rem 0.03rem rgba(0, 0, 0, 0.12));
    --filter-dropShadow-4b: drop-shadow(0 0.11rem 0.11rem rgba(0, 0, 0, 0.82));
    --filter-dropShadow-4c: drop-shadow(0 4px 7px rgba(243, 241, 241, 0.99));
    --filter-dropShadow-5: drop-shadow(0 0.2rem 0.25rem hsla(198, 86%, 92%, 0.99));
    --grmj-filter-dropShadow-6: drop-Shadow(0px 0.2rem 0.65rem hsla(0, 0%, 0%, 0.99));
    --grmj-filter-dropShadow-7: drop-Shadow(0px 0.2rem 0.65rem hsla(358, 71%, 53%, 0.49));
    --grmj-filter-dropShadow-8: drop-Shadow(0px 0.2rem 0.65rem hsla(0, 0%, 0%, 0.29));
    --grmj-filter-dropShadow-9: drop-Shadow(0.7rem 0.9rem 0.55rem hsla(0, 0%, 0%, 0.29));
    --grmj-filter-dropShadow-10: drop-Shadow(0.3rem 0.5rem 1.55rem hsla(0, 0%, 0%, 0.49));

    /*Letter Spacing*/
    --grmj-letter-spacing-1: 0.1em;
    --grmj-letter-spacing-1a: 0.15em;
    --grmj-letter-spacing-2: 0.2em;
    --grmj-letter-spacing-3: 0.3em;
    --grmj-letter-spacing-4: 0.4em;
    --grmj-letter-spacing-5: 0.5em;


    /*Font Sizing*/
    --grmj-font-size-01vw: 0.3vw;
    --grmj-font-size-02vw: 0.1vw;
    --grmj-font-size-03vw: 0.05vw;
    --grmj-font-size-04vw: 0.01vw;
    --grmj-font-size-05vw: 0.005vw;
    --grmj-font-size-06vw: 0.002vw;
    --grmj-font-size-1vw-history: 0.5vw;
    --grmj-font-size-1zw: 0.5vw;
    --grmj-font-size-1zwy: 0.57vw;
    --grmj-font-size-1zwx: 0.65vw;
    --grmj-font-size-1avw: 0.75vw;
    --grmj-font-size-1zvwh: 1.05vw;
    --grmj-font-size-0vw: 0.80vw;
    --grmj-font-size-1vw: 1vw;
    --grmj-font-size-2vw: 1.2vw;
    --grmj-font-size-3vw: 1.4vw;
    --grmj-font-size-4vw: 1.6vw;
    --grmj-font-size-5vw: 1.8vw;
    --grmj-font-size-1zvw: 1.07vw;
    --grmj-font-size-1yvw: 1.1vw;
    --grmj-font-size-6vw: 2vw;
    --grmj-font-size-7vw: 2.2vw;
    --grmj-font-size-8vw: 2.4vw;
    --grmj-font-size-9vw: 2.6vw;
    --grmj-font-size-10vw: 2.8vw;
    --grmj-font-size-11vw: 3vw;
    --grmj-font-size-12vw: 3.2vw;
    --grmj-font-size-13vw: 3.4vw;
    --grmj-font-size-14vw: 3.6vw;
    --grmj-font-size-15vw: 3.8vw;
    --grmj-font-size-16vw: 4vw;
    --grmj-font-size-17vw: 4.5vw;
    --grmj-font-size-18vw: 1.75rem;
    --grmj-font-size-19vw: 1.85rem;
    --grmj-font-size-20vw: 2rem;
    --grmj-font-size-21vw: 2.15rem;
    --grmj-font-size-22vw: 2.3rem;
    --grmj-font-size-23vw: 2.45rem;
    --grmj-font-size-24vw: 2.6rem;
    --grmj-font-size-media-0: 0.3vw;
    --grmj-font-size-media-1: max(2vw, 4vw);
    --grmj-font-size-header-1: 2.03rem;
    --grmj-font-size-header-2: 1.7rem;
    --grmj-font-size-header-3: 2.07rem;
    --grmj-font-size-header-4: 1.7rem;
    --grmj-font-size-header-5: 1.46rem;
    --grmj-font-size-header-6: 1.48rem;
    --grmj-font-size-header-7: 1.06rem;
    --grmj-font-size-header-8: 1.08rem;
    --grmj-font-size-header-9: 0.86rem;
    --grmj-font-size-header-10: 0.88rem;

    /*Font Colors*/
    --grmj-font-color-1: hsla(198, 86%, 92%, 0.99);
    --grmj-font-color-2: hsla(197, 71%, 73%, 0.99);
    --grmj-font-color-3: hsla(198, 53%, 87%, 0.99);
    --grmj-font-color-4: hsla(198, 23%, 59%, 0.99);
    --grmj-font-color-5: hsla(0, 0%, 0%, 0.99);
    --grmj-font-color-6a: hsla(197, 98%, 17%, 0.99);
    --grmj-font-color-6: hsla(212, 62%, 49%, 0.99);
    --grmj-font-color-7: hsla(210, 95%, 62%, 0.99);
    --grmj-font-color-7a: hsla(209, 59%, 48%, 0.99);
    --grmj-font-color-8: hsla(208, 42%, 77%, 0.99);
    --grmj-font-color-9: hsla(0, 0%, 27%, 0.99);
    --grmj-font-color-10: hsla(0, 0%, 100%, 0.99);
    --grmj-font-color-11: hsla(0, 98%, 50%, 0.9);
    --grmj-font-color-12: hsla(52, 77%, 53%, 0.9);
    --grmj-font-color-13: hsla(212, 62%, 49%, 0.99);
    --grmj-font-color-14: hsla(52, 97%, 58%, 0.99);
    --grmj-font-color-15: hsla(198, 53%, 87%, 0.19);
    --grmj-font-color-16: hsla(39, 99%, 45%, 0.99);
    --grmj-font-color-17: hsla(43, 74%, 49%, 0.99);
    --grmj-font-color-18: hsla(197, 71%, 73%, 0.70);
    --grmj-font-color-19: hsla(172, 51%, 49%, 0.99);
    --color-bracket-yellow: hsla(37, 81%, 58%, 0.99);
    --color-bracket-blue: hsla(204, 76%, 57%, 0.99);
    --color-scratchy-beige: hsla(38, 35%, 78%, 0.99);
    --color-scratchy-brown: hsla(37, 25%, 33%, 0.99);
    --color-scratchy-darkbrown: hsla(36, 27%, 22%, 0.99);
    --color-scratchy-blue: hsla(136, 5%, 57%, 0.99);
    --color-scratchy-blue-shade: hsla(135, 4%, 37%, 0.99);
    --color-scratchy-mediumblue: hsla(138, 4%, 53%, 0.99);
    --color-scratchy-darkblue-i: hsla(140, 3%, 44%, 0.99);
    --color-scratchy-darkblue: hsla(137, 15%, 82%, 0.99);
    --color-scratchy-darkerblue: hsla(140, 3%, 21%, 0.99);

    /*Borders*/
    --grmj-border-0: 2.5px solid hsla(240, 81%, 12%, 0.99);
    --grmj-border-1: 1.25px solid hsla(240, 81%, 12%, 0.99);
    --grmj-border-2: 2.25px solid hsla(212, 62%, 49%, 0.99);
    --grmj-border-2a: 3.25px solid hsla(212, 97%, 24%, 0.99);
    --grmj-border-3: 0.75px solid hsla(240, 81%, 12%, 0.99);
    --grmj-border-4: 0.50px solid hsla(240, 81%, 12%, 0.99);

    /*Border Radius*/
    --grmj-border-radius-1: 0.2em;
    --grmj-border-radius-2: 0.4em;
    --grmj-border-radius-3: 0.6em;
    --grmj-border-radius-4: 0.8em;
    --grmj-border-radius-5: 1em;
    --grmj-border-radius-6: 1.2em;
    --grmj-border-radius-7: 2.2em;
    --grmj-border-radius-8: 4.2em;

    /*Scrollbar Colors*/
    --grmj_profile_scrollbar-background: hsla(201, 11%, 53%, 0.99);
    --grmj_profile_scrollbar-thumb: hsla(210, 2%, 74%, 0.99);
    --grmj_profile_scrollbar-thumb_hover: hsla(213, 62%, 45%, 0.99);
    --grmj_profile_scrollbar-border: hsla(201, 11%, 53%, 0.99);
    --grmj_profile_scrollbar-box-shadow: inset 0 0 6px hsla(0, 0%, 0%, 0.6);

    /* Background Contingencies */
    --menu-grey: hsla(0, 0%, 66%, 0.69);
}

.theme-light {
    --image-home: var(--grmj-profile-background_image_01);
    --image-cover: var(--grmj-profile-background_image_01g);
    --image-grmj: var(--grmj-profile-background_image_4);
    --image-history: var(--grmj-profile-background_image_6);
    --color-primary: var(--grmj-font-color-6);
    --color-secondary: #fbfbfe;
    --color-tertiary: var(--grmj-font-color-6);
    --color-quaternary: var(--grmj-font-color-8);
    --color-quinary: #fff;
    --color-senary: rgba(0, 0, 0, 0.64);
    --color-septenary: rgba(0, 0, 0, 0.67);
    --color-octonary: #bebebe;
    --color-nectary: hsla(219, 97%, 73%, 0.99);
    --color-denary: #ccc;
    --color-nonary: rgba(0, 0, 0, 0.38);
    --color-duodenary: slategray;
    --color-accent: #fd6f53;
    --font-color: #000000;
    --font-color-brief-bg-0: hsla(89, 88%, 94%, 0.377);
    --font-color-brief-bg-1: hsla(36, 27%, 22%, 0.99);
    --font-color-brief-bg-2: hsla(36, 93%, 88%, 0.822);
    --font-color-brief-bg-3: hsla(60, 1%, 75%, 0.822);
    --font-color-brief-x: hsla(144, 7%, 13%, 0.99);
    --font-color-brief-shadow: hsla(36, 16%, 54%, 0.822);
    --font-color-brief: hsla(76, 96%, 21%, 0.99);
    --font-color-1: hsla(0, 0%, 0%, 0.49);
    --font-color-2: #fbfbfe;
    --font-color-3: #fbfbfe;
    --font-color-4: var(--grmj-font-color-6a);
    --font-color-5: hsla(197, 93%, 33%, 0.99);
    --font-family-history: var(--grmj-font-family-7);
    --font-family-history-2: var(--grmj-font-family-12);
    --font-family-history-3: var(--grmj-font-family-6);
    --font-family-Freckle-Face: var(--grmj-font-family-9);
    --font-family-MoonRocks: var(--grmj-font-family-12);
    --drop-shadow-1: var(--landing-dropShadow-01);
    --button-background: hsla(0, 0%, 41%, 0.99);
    --button-background-hover: hsla(212, 62%, 49%, 0.99);
    --button-ff: Arial, Helvetica, sans-serif;
    --button-color: hsla(219, 97%, 73%, 0.99);
    --button-fs: 0.7em;
    --button-border: 0.1em ridge hsla(180, 25%, 25%, 0.99);
    --button-hover: hsla(0, 0%, 86%, 0.39);
    --scrollbar-hover: hsl(90, 100%, 50%);
    --scrollbar-filter: drop-Shadow(0.7rem 0.9rem 0.55rem hsla(90, 100%, 50%, 0.79));
    --button-filter: drop-shadow(0.1em 0.08rem 0.08rem rgba(0, 0, 0, 0.22));
    --button-color-history: hsla(0, 0%, 70%, 0.932);
    --button-fc-history: hsla(0, 0%, 0%, 0.99);
    --button-fc-history-hover: hsla(0, 0%, 0%, 0.69);
    --button-fc-history-arrow-hover: hsla(90, 100%, 50%, 0.99);
    --button-fc-history-active: hsla(0, 100%, 50%, 0.99);
    --button-bs-inset-history-active: inset 5px 10px 20px 5px hsla(0, 0%, 0%, 0.22);
    --button-bg-history-hover: hsla(0, 0%, 65%, 0.99);
    --scratchy-blue: var(--color-scratchy-blue);
    --scratchy-blue-header-i: var(--color-scratchy-darkbrown);
    --scratchy-blue-header: var(--color-scratchy-darkbrown);
    --scratchy-mediumblue: var(--color-scratchy-mediumblue);
    --scratchy-darkbrown: var(--color-scratchy-brown);
    --history-page: hsla(36, 93%, 88%, 0.822);
    --history-page-border-radius: 15px;
    --history-page-hover: hsla(35, 9%, 46%, 0.719);
    --history-h3-00: hsla(39, 98%, 19%, 0.99);
    --history-h3-01: hsla(0, 98%, 20%, 0.99);
    --project-bg-image: var(--grmj-profile-background_image_1a);
    --project-font-color-1: hsla(0, 0%, 0%, 0.99);
    --project-color-1: hsla(197, 96%, 21%, 0.651);
    --project-border-1: 8px solid var(--project-color-1);
    --project-drop-shadow-1: drop-shadow(0.3rem 0.5rem 1.55rem hsla(0, 0%, 0%, 0.89));
    --project-ul-1: hsla(0, 0%, 0%, 0.99);
    --resume-yellow-note: url("/src/components/componentTools/resources/images/sticky-note-blue.png");
    --resume-background-main: hsla(56, 71%, 77%, 0.61);
    --resume-background-1: hsla(0, 0%, 54%, 0.993);
    --resume-background-2: hsla(56, 100%, 50%, 0.664);
    --resume-border-color: hsla(197, 98%, 17%, 0.99);
    --resume-border-1: 0.4em solid var(--resume-border-color);
    --resume-color: hsla(0, 0%, 4%, 0.69);
    --resume-line: hsla(0, 0%, 0%, 0.99);
    --resume_line-border-top: 0.12em solid hsla(0, 0%, 0%, 0.998);
    --resume_line-border-bottom: 0.17em solid hsla(0, 0%, 0%, 0.998);
    --resume-filter-dropShadow-1: drop-shadow(0.7rem 0.7rem 1.9rem rgba(0, 0, 0, 0.342));
    --resume-filter-dropShadow-2: drop-shadow(0.08rem 0.1rem 0.5rem rgba(0, 0, 0, 0.39));
    --resume-filter-dropShadow-3: drop-shadow(0 0 0.5rem hsla(198, 100%, 2%, 0.29));
    --resume-caption-color: hsla(197, 98%, 69%, 0.69);
    --resume-footer-color: hsla(0, 0%, 0%, 0.99);
    --resume-background-section: hsla(194, 92%, 72%, 0.993);
    --resume-box-shadow: -15px -15px 19px hsla(194, 92%, 72%, 0.42),
        15px 15px 15px rgba(0, 0, 0, 0.5);
    --resume-background-btn: hsla(0, 0%, 41%, 0.719);
    --resume-background-btn-hover: hsla(194, 92%, 72%, 0.329);
    --resume-btn-text-color: hsla(0, 0%, 100%, 0.899);
    --resume-btn-text-color-hover: hsla(195, 100%, 7%, 0.993);
    --resume-btn-text-color-active: hsla(0, 100%, 50%, 0.979);
    --resume-background-btn-active: hsla(278, 100%, 50%, 0.329);
    --resume-border-btn: 0.25em solid hsla(0, 0%, 0%, 0.99);
    --chatbox-background-color: hsla(0, 1%, 65%, 0.993);
    --chatbox-background-main: hsla(187, 52%, 80%, 0.993);
    --chatbox-color-blue: hsla(197, 98%, 19%, 0.69);
    --chatbox-color-black_white: hsla(0, 0%, 0%, 0.99);
    --chatbox-color-black_white_box: hsla(0, 0%, 0%, 0.19);
    --chatbox-color-lightgrey: hsla(0, 0%, 74%, 0.99);
    --chatbox-color-darkgrey: hsla(0, 0%, 45%, 0.99);
    --chatbox-color-powderblue: hsla(187, 97%, 12%, 0.993);
    --chatbox-color-powderblue_clear: hsla(187, 52%, 80%, 0.193);
    --chatbox-color-powderblue-thematic: hsla(197, 98%, 17%, 0.79);
    --chatbox-color-darkblue: hsla(197, 100%, 15%, 0.69);
    --chatbox-border-standard: 0.4em solid hsla(197, 98%, 17%, 0.99);
    --chatbox-filter-standard: drop-shadow(0.07rem 0.07rem 0.5rem rgba(0, 0, 0, 0.59));
    --chatbox-filter-button-active: drop-shadow(0.57rem 0.57rem 0.98rem hsla(187, 52%, 80%, 0.993));
    --chatbox-filter-modified: drop-shadow(0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.79));
    --chatbox-filter-logo: drop-shadow(0.07rem 0.07rem 0.2rem rgba(0, 0, 0, 0.69));
    --chatbox-color-date: hsla(56, 100%, 50%, 0.99);
}

.theme-startup,
.theme-dark {
    --image-home: var(--grmj-profile-background_image_000);
    --image-cover: var(--grmj-profile-background_image_000);
    --image-grmj: var(--grmj-profile-background_image_4);
    --image-history: var(--grmj-profile-background_image_5);
    --color-primary: var(--grmj-font-color-2);
    --color-secondary: #2a2c2d;
    --color-tertiary: var(--grmj-font-color-3);
    --color-quaternary: var(--grmj-font-color-5);
    --color-quinary: #000;
    --color-senary: rgba(0, 0, 0, 0.99);
    --color-septenary: rgba(0, 0, 0, 0.99);
    --color-octonary: #333;
    --color-nectary: #bebebe;
    --color-denary: #ccc;
    --color-nonary: rgba(0, 0, 0, 0.17);
    --color-duodenary: slategray;
    --color-accent: #fd6f53;
    --font-color: #ffffff;
    --font-color-brief-bg-0: hsla(89, 81%, 83%, 0.377);
    --font-color-brief-bg-1: hsla(36, 18%, 59%, 0.99);
    /* --font-color-brief-bg-1: hsla(36, 27%, 22%, 0.99); */
    --font-color-brief-bg-2: hsla(36, 93%, 88%, 0.822);
    --font-color-brief-bg-3: hsla(60, 1%, 75%, 0.822);
    --font-color-brief-x: hsla(140, 3%, 19%, 0.99);
    --font-color-brief-shadow: hsla(36, 93%, 88%, 0.795);
    --font-color-brief: hsla(89, 68%, 94%, 0.99);
    --font-color-1: hsla(0, 0%, 100%, 0.856);
    --font-color-2: #fbfbfe;
    --font-color-3: #000;
    --font-color-4: var(--color-scratchy-blue-shade);
    --font-color-5: hsla(0, 0%, 0%, 0.99);
    --font-family-history: var(--grmj-font-family-7);
    --font-family-history-2: var(--grmj-font-family-12);
    --font-family-history-3: var(--grmj-font-family-6);
    --font-family-Freckle-Face: var(--grmj-font-family-9);
    --font-family-MoonRocks: var(--grmj-font-family-12);
    --drop-shadow-1: var(--landing-dropShadow-00);
    --button-background: hsla(0, 0%, 41%, 0.99);
    --button-background-hover: hsla(212, 62%, 49%, 0.99);
    --button-ff: Arial, Helvetica, sans-serif;
    --button-color: hsla(0, 0%, 86%, 0.99);
    --button-fs: 0.7em;
    --button-border: 0.1em ridge hsla(180, 25%, 25%, 0.99);
    --button-hover: hsla(90, 100%, 50%, 0.99);
    --scrollbar-hover: hsla(90, 100%, 50%, 0.753);
    --scrollbar-filter: drop-Shadow(1.7rem 1.9rem 1.55rem hsla(0, 0%, 0%, 0.79));
    --button-filter: drop-shadow(0.1em 0.08rem 0.08rem rgba(0, 0, 0, 0.22));
    --button-color-history: hsla(0, 0%, 70%, 0.99);
    --button-fc-history: hsla(0, 0%, 0%, 0.99);
    --button-fc-history-hover: hsla(0, 0%, 0%, 0.69);
    --button-fc-history-arrow-hover: hsla(90, 100%, 50%, 0.99);
    --button-fc-history-active: hsla(0, 100%, 50%, 0.99);
    --button-bs-inset-history-active: inset 5px 10px 20px 5px hsla(0, 0%, 0%, 0.22);
    --button-bg-history-hover: hsla(0, 0%, 65%, 0.99);
    --scratchy-blue: var(--color-scratchy-darkblue);
    --scratchy-blue-header-i: var(--color-scratchy-darkblue-i);
    --scratchy-blue-header: var(--color-scratchy-darkblue);
    --scratchy-mediumblue: var(--color-scratchy-darkerblue);
    --scratchy-darkbrown: var(--color-scratchy-darkbrown);
    --history-page: hsla(36, 27%, 22%, 0.44);
    --history-page-border-radius: 7px;
    --history-h3-00: hsla(39, 99%, 45%, 0.99);
    --history-h3-01: hsla(0, 96%, 50%, 0.99);
    --project-bg-image: var(--grmj-profile-background_image_1);
    --project-font-color-1: hsla(0, 0%, 100%, 0.99);
    --project-color-1: hsla(198, 53%, 87%, 0.19);
    --project-border-1: 4px solid var(--project-color-1);
    --project-drop-shadow-1: drop-shadow(0.3rem 0.5rem 1.55rem hsla(0, 0%, 0%, 0.01));
    --project-ul-1: hsla(90, 99%, 49%, 0.99);
    --resume-yellow-note: url("/src/components/componentTools/resources/images/sticky-note.png");
    --resume-background-main: hsla(0, 0%, 20%, 0.99);
    --resume-background-1: hsla(56, 100%, 50%, 0.904);
    --resume-border-color: hsla(197, 98%, 17%, 0.99);
    --resume-border-1: 0.4em solid var(--resume-border-color);
    --resume-color: hsla(197, 98%, 42%, 0.69);
    --resume-line: hsla(0, 0%, 0%, 0.99);
    --resume_line-border-top: 0.12em solid hsla(0, 0%, 0%, 0.998);
    --resume_line-border-bottom: 0.17em solid hsla(0, 0%, 0%, 0.998);
    --resume-filter-dropShadow-1: drop-shadow(0.7rem 0.7rem 1.9rem rgba(0, 0, 0, 0.99));
    --resume-filter-dropShadow-2: drop-shadow(0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.79));
    --resume-filter-dropShadow-3: drop-shadow(0 0 0.5rem hsla(198, 100%, 2%, 0.59));
    --resume-caption-color: hsla(197, 98%, 69%, 0.69);
    --resume-footer-color: hsla(56, 100%, 50%, 0.904);
    --resume-background-section: hsla(0, 0%, 20%, 0.993);
    --resume-box-shadow: -11px -11px 13px rgba(255, 255, 255, 0.3),
        15px 15px 15px rgba(0, 0, 0, 0.5);
    --resume-background-btn: hsla(0, 0%, 60%, 0.993);
    --resume-background-btn-hover: hsla(56, 100%, 50%, 0.342);
    --resume-btn-text-color: hsla(0, 0%, 0%, 0.99);
    --resume-btn-text-color-hover: hsla(90, 100%, 50%, 0.993);
    --resume-btn-text-color-active: hsla(0, 100%, 50%, 0.877);
    --resume-background-btn-active: hsla(278, 100%, 50%, 0.308);
    --resume-border-btn: 0.25em solid hsla(0, 0%, 0%, 0.99);
    --chatbox-background-color: hsla(0, 0%, 20%, 0.993);
    --chatbox-background-main: hsla(0, 0%, 20%, 0.99);
    --chatbox-color-blue: hsla(197, 98%, 69%, 0.69);
    --chatbox-color-black_white: hsla(0, 0%, 0%, 0.99);
    --chatbox-color-black_white_box: hsla(0, 0%, 98%, 0.19);
    --chatbox-color-lightgrey: hsla(0, 1%, 86%, 0.99);
    --chatbox-color-darkgrey: hsla(0, 0%, 45%, 0.99);
    --chatbox-color-powderblue: hsla(187, 52%, 80%, 0.993);
    --chatbox-color-powderblue_clear: hsla(187, 52%, 80%, 0.193);
    --chatbox-color-powderblue-thematic: hsla(187, 52%, 80%, 0.493);
    --chatbox-color-darkblue: hsla(197, 100%, 15%, 0.69);
    --chatbox-border-standard: none;
    --chatbox-filter-button-active: drop-shadow(0.57rem 0.57rem 0.98rem hsla(187, 52%, 80%, 0.993));
    --chatbox-filter-modified: drop-shadow(0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.89));
    --chatbox-filter-logo: drop-shadow(0.07rem 0.07rem 0.15rem rgba(0, 0, 0, 0.69));
    --chatbox-color-date: hsla(56, 100%, 50%, 0.99);
}

@font-face {
    font-family: 'SpaceX';
    src: url('/src/resources/font/SpaceX.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0em;
    padding: 0;
    overflow-y: scroll;
    width: 100%;
    font-family: var(--grmj-font-family-1);
}

body::-webkit-scrollbar {
    width: 0.75em;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: var(--grmj_profile_scrollbar-box-shadow);
    box-shadow: var(--grmj_profile_scrollbar-box-shadow);
    background: var(--grmj_profile_scrollbar-background);
}

body::-webkit-scrollbar-thumb {
    background: var(--grmj_profile_scrollbar-thumb);
    border-radius: 0.35em;
    border: 0.18em solid var(--grmj_profile_scrollbar-border);
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--grmj_profile_scrollbar-thumb_hover);
    color: hsla(0, 0%, 41%, 0.99);
}

p {
    margin: 10px 0 !important;
    /* I dislike using this syntax so find a different way */
}

/* @desc -- Login Page Styles */
.login-body {
    background-color: var(--grmj-profile-background_2);
}

.login-container {
    width: 540px;
    margin-top: 50px;
    text-align: center;
    filter: var(--grmj-filter-dropShadow-9);
    background-color: #fbfbfe;
}

.LOGIN {
    color: hsla(358, 71%, 53%, 0.99);
    filter: var(--grmj-filter-dropShadow-7);
}

.fa-small {
    font-size: 10px !important;
    /* I dislike using this syntax so find a different way */

}

.team-logo {
    margin: 0.4em 0.5em 0 -0.4em;
    padding: 0;
    float: left;
    width: 34px;
}

.log-btn:hover {
    color: hsla(0, 0%, 66%, 0.69);
    background-color: hsla(0, 0%, 80%, 0.99);
}

.team-logo:hover {
    transform: rotate(-24deg);
}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 180px;
}

.dashboard-h6 {
    font-size: 2.2rem;
    filter: var(--filter-dropShadow-4b);
}

.blog-icon {
    margin-bottom: 0.35em;
    aspect-ratio: 1 / 1;
    color: hsla(358, 71%, 53%, 0.99);
    filter: var(--grmj-filter-dropShadow-8);
}

.header-blog {
    margin-right: auto;
    margin-left: -7em;
    padding-left: -0.75em;
    text-align: center;
    font-family: var(--grmj-font-family-0);
    font-size: 2.92rem;
    letter-spacing: 0.15em;
    filter: var(--grmj-filter-dropShadow-6);
}

.header-blog-desc {
    margin-right: -0.25em;
    margin-left: 3.5em;
    text-align: center;
    font-family: var(--grmj-font-family-1);
    font-size: 0.97rem;
    font-style: italic;
    color: hsla(90, 100%, 50%, 0.99);
}

.hamburger-bars {
    margin-right: 4.3em;
    filter: var(--grmj-filter-dropShadow-6);
}

.grmj-profile {
    margin-right: .75em;
    position: relative;
    font-family: var(--grmj-font-family-1);
}

.share-knowledge {
    font-size: 1rem;
    font-style: italic;
}

.write-blog {
    font-size: 2rem;
    font-weight: 700;
}

/* @desc -- styles for the index.hbs of the blog site */
.card-ei {
    width: 30%;
}

/* @desc -- dash layout styles */
.body-dash {
    /* background-color: var(--color-secondary); */
    /* background-color: hsla(0, 0%, 66%, 0.37); */
    background-color: var(--grmj-profile-background_12a);
}

.container-dash {
    padding-top: 0.85em;
    padding-left: 0.45em;
    background-color: var(--grmj-profile-background_12a);
}

/* @desc -- header.hbs styles */

.nav-grey {
    margin-bottom: 1.5em;
    text-align: center;
}

.header-nav {
    position: relative;
    text-align: center;
}

/* @desc -- dashboard styles */
.dashboard-h6 {
    font-size: 2.25rem;
    text-shadow: hsla(0, 0%, 0%, 0.29) 3px 2px 5px;
}

.welcome-name {
    color: hsla(172, 51%, 49%, 0.99);
    text-shadow: hsla(0, 0%, 0%, 0.39) 2px 1px 3px;
}

.table-titles {
    color: hsla(240, 100%, 25%, 0.99);
}

.picture-name {
    margin: 0.1em auto 0em auto;
    top: 16%;
    left: 65.5%;
    position: absolute;
    font-family: var(--grmj-font-family-1);
    font-size: var(--grmj-font-size-1vw);
    font-style: var(--grmj-italic);
    font-weight: var(--grmj-font-weight-7);
    color: var(--grmj-font-color-19);
    text-align: center;
    text-shadow: hsla(0, 0%, 0%, 0.39) 2px 1px 3px;
}

.grmj-google-picture {
    aspect-ratio: 1 / 1;
    margin: 0.1em auto 0em auto;
    top: 13%;
    left: 70.5%;
    position: absolute;
    width: 128px;
    border-radius: 4.7em;
    border: var(--grmj-border-4);
    filter: var(--grmj-filter-dropShadow-4);
}

/* color: hsla(240, 100%, 25%, 0.99); */


/* @desc -- Blog Card styles */
.card-container {
    width: 600px;
}

.bracket-colorizer {
    color: #fddd29;
    color: #c172d9;
    color: #abb2c0;
    color: #fd6f53;
    color: #449cfd;
    color: #d6871f;
    color: #60be85;
    color: #b883a5;
    color: #ffd700;
    color: #f9fd01;
    color: #7fff00;
    color: #9376c0;
    color: #c39cff;
    color: #ff03c8;
    color: #ffe4b5;
    color: #fcce7e;
    color: #f8a831;
}