/*gm :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::  */
/*gm ::::::::::::::::::::::::: Synthesizer & Audio Application :::::::::::::::::::::::::::::  */
/*gm :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsla(90, 100%, 50%, 0.99);
}

.synth-header {
    margin-top: 3.2em auto 1.5em auto;
    position: absolute;
    top: 0;
    left: 25%;
    display: inline-flex;
    width: 100%;
    text-align: center;
}

.synth-header .synth-h1 {
    margin: 0.5em auto;
    width: 100%;
    position: relative;
    text-align: center;
    font-family: fantasy;
    font-size: 3.5rem;
    font-weight: 700;
    color: hsla(0, 0%, 0%, 0.99);
}

.synth-header .built-by-h1 {
    margin: 1.85em auto;
    width: 100%;
    position: relative;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: hsla(0, 0%, 0%, 0.99);
}

.built-by-h1 u {
    text-decoration-line: underline;
    font-weight: 900;
    color: hsla(0, 0%, 0%, 0.99);
    inset: 10% auto 15% auto;
    filter: drop-shadow(0 0 0.5rem hsla(198, 100%, 2%, 0.59));
}